<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Regdate</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.member_id}"></td>
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.regdate}"></td>
            </tr>
            <tr colspan="5">
                <button onclick="location.href='/member/regist';">회원가입</button>
            </tr>
        </tbody>
    </table>

</body>
</html>